.vscode
.pycharm
.idea
*.pyc
__pycache__
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
*.whl
*.dist-info
*.log
*.coverage
*.DS_Store
*.vscode-*
*.sublime-*
*.swp
*.bak
*.tmp
*.orig
*.zip
*.rar
*.tar.gz
*.tar.bz2
*.7z
.venv
venv
drive
*DAgger*
*old*
*copy*
01_prepare_corpus_hard.py
*orig_edition*
tmps
ignore_list.txt
tmp_prompt.md
prompt.md
docs
commands.md
paec_hierarchy.txt
